.demo-style-switch {
    font-family: inherit !important;
    font-family: "Helvetica Neue", Helvetica, sans-serif !important;
    font-family: 
    opacity: 1;
    position: fixed;
    z-index: 9999;
    top: 85px;
    left: -222px;
    background: #FFFFFF;
    -webkit-backface-visibility: hidden;
}

.demo-style-switch:hover {
    opacity: 1 !important;
}

.demo-style-switch .switched-options {
    position: relative;
    width: 220px;
    text-align: left;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.demo-style-switch .config-title {
    font-family: "Helvetica Neue", Helvetica, sans-serif !important;
  text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 1px;
    color: #000;
    border-bottom: 1px dotted #CCCCCC;
    border-top: 1px dotted #CCCCCC;
    margin-bottom: 5px;
}

.demo-style-switch ul {
    margin-bottom: 10px;
}

.demo-style-switch ul .active a {
    font-family: "Helvetica Neue", Helvetica, sans-serif !important;
    color: #005885;
    font-weight: 400;
}

.demo-style-switch ul .p {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    margin-top: 10px;
}

.demo-style-switch ul li:hover {
    cursor: pointer;
}

.demo-style-switch ul li a {
    font-family: "Helvetica Neue", Helvetica, sans-serif !important;
    font-size: 12px;
    color: #808080;
    letter-spacing: 0.1px;
}

.demo-style-switch ul li a:hover {
    color: #008ed6;
    text-decoration: none;
}

.demo-style-switch ul.styles {
    margin-top: 15px;
}

.demo-style-switch ul.styles li {
    display: inline-block;
    margin-right: 5px;
}

.demo-style-switch ul.styles li .color {
    width: 50px;
    height: 25px;
}

.demo-style-switch ul.styles li .blue {
    background: #008ed6;
}

.demo-style-switch ul.styles li .green-2 {
    background: #75a932;
}

.demo-style-switch ul.styles li .green {
    background: #00cdaf;
}

.demo-style-switch ul.styles li .purple {
    background: #b27cf5;
}

.demo-style-switch ul.styles li .red {
    background: #fc5f45;
}

.demo-style-switch ul.styles li .yellow {
    background: #feb960;
}

.demo-style-switch ul.styles li .gold {
    background: #baad7c;
}

.demo-style-switch ul.styles li .pink {
    background: #FE37A2;
}

.demo-style-switch ul.styles li .violet {
    background: #785CB4;
}

.demo-style-switch .switch-button {
    opacity: 1 !important;
    background: #FFF;
    padding: 10px;
    font-size: 24px;
    padding-bottom: 5px;
    color: #272727;
    position: absolute;
    overflow: hidden;
    right: -44px;
    top: -10;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.demo-style-switch .switch-button:hover {
    color: #008ed6;
    cursor: pointer;
    text-decoration: none;
}

.demo-style-switch .homepage-style li {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.demo-style-switch .homepage-style li a {
    padding: 5px;
    font-size: 12px;
    letter-spacing: inherit;
    border: 1px solid #ececec;
    font-family: "Helvetica Neue", Helvetica, sans-serif !important;
}

.demo-style-switch .homepage-style li a:hover {
    border: 1px solid #008ed6;
}
.demo-style-switch .homepage-style .active {
    border: none;
}

.demo-style-switch .homepage-style .active a {
    border: 1px solid #008ed6;
    background: #008ed6;
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, sans-serif !important;
}

.demo-style-switch .font-selection li {
    font-family: "Helvetica Neue", Helvetica, sans-serif !important;
    color: #808080;
    font-size: 12px;
    letter-spacing: 0.1px;
}

.demo-style-switch .font-selection li div:hover {
    color: #008ed6;
}